body {
  font-family: 'Arial', sans-serif;
  margin: auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#13293d, #006494, #247ba0, #1b98e0);
}

.faq-container {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  background: linear-gradient(#13293d, #006494, #247ba0, #1b98e0);
  border: 1px solid #2b7dc6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #ffffff;
}

.faq-item {
  margin-bottom: 35px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.faq-item:hover {
  transform: scale(1.1);
}

.question,
.answer {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: normal;
}

.mf {
  color: #fff;
  font-size: 20px;
  display: flex;
}

.a {
  text-decoration: none;
  color: #fff;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-item h3 {
  font-weight: bold;
}
